<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
    <!-- Page Heading -->
	  </br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=lens"> 产品目录</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> 已删除型号列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
		<table id="lens-table" class="cell-border stripe hover compact order-column" >
		  <thead>
			<tr>
			  <th>ID</th>
			  <th>型号</th>
			  <th>规格</th>
			  <th>色相</th>
			  <th>材质</th>
			  <th>创建人</th>
			  <th>提交时间</th>
			  <th>更新时间</th>
			  <th>数据操作</th>
			</tr>
		  </thead>
		  <tbody>
		  <volist name="lens" id="len">
			<tr>
			  <td>{$len.id}</td>
			  <td>{$len.model}</td>
			  <td>{$len.specs}</td>
			  <td>{$len.color}</td>
			  <td>{$len.material}</td>
			  <td>{$len.create_user}</td>
			  <td>{$len.create_time|date="Y-m-d H:i",###}</td>
			  <td><if condition="$len['update_time'] eq NULL">-<else/>{$len.update_time|date="Y-m-d H:i",###}</if></td>
			  <td></td>
		    </tr>
		  </volist>
	      </tbody>
		</table>
    </div>
  </div>
</div>
<script>
//初始化DataTables
$(document).ready( function () {
	var table = $('#lens-table').DataTable({
		"aoColumnDefs":[//设置列的属性，此处设置第一列不排序
			{
				"targets": -1,
				"class":"but_xq",
				"data":null,
				"bSortable":false,
				"defaultContent":"<a id=\"del\"  href=\"#\">恢复</a>"
		}],
		"columnDefs":[{
				"visible": false,
				"targets": -1
		}],
		"iDisplayLength":100,
		"vertical-align":"middle",
		"ordering":true,
		"oLanguage":{
			"sProcessing":"正在加载中......",
			"sLengthMenu":"每页显示 _MENU_ 条记录",
			"sZeroRecords":"对不起，查询不到相关数据！",
			"sEmptyTable":"表中无数据存在！",
			"sInfo":"当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
			"sInfoFiltered":"数据表中共为 _MAX_ 条记录",
			"sSearch":"搜索",
			"oPaginate":{
				"sFirst":"首页",
				"sPrevious":"上一页",
				"sNext":"下一页",
				"sLast":"末页"
			}
		}
	});
	//删除
	$('#lens-table tbody').on( 'click', 'a#del', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		$.post("/admin.php?c=lens&a=del", {id:data[0],status:1});
		self.location.reload();
	});
});
</script>
<include file="Index/footer" />