<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
    <!-- Page Heading -->
	  </br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=lens"> 产品目录</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> 现存型号列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div class="layui-form-item">
        <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe654 添加新型号</button>
        <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删型号列表</button>
      </div>
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
		  <thead>
			<tr>
			  <th lay-data="{field:'id', width:70, align:'center', sort:true, fixed: 'left'}">ID</th>
			  <th lay-data="{field:'model', width:120, align:'center', sort:true, fixed: 'left'}">型号</th>
			  <th lay-data="{field:'specs', width:70, align:'center'}">规格</th>
			  <th lay-data="{field:'color', width:70, align:'center'}">色相</th>
			  <th lay-data="{field:'material', width:80, align:'center'}">材质</th>
			  <th lay-data="{field:'create_user', width:80, align:'center'}">操作者</th>
			  <th lay-data="{field:'create_time', width:160, align:'center'}">创建时间</th>
			  <th lay-data="{field:'update_time', width:160, align:'center'}">更新时间</th>
			  <th lay-data="{field:'tips', width:160, align:'center'}">备注</th>
			  <th lay-data="{width:120, align:'center', toolbar: '#barDemo1', fixed: 'right'}">操作</th>
			</tr>
		  </thead>
		  <tbody>
			<volist name="lens" id="len">
			  <tr>
				<td>{$len.id}</td>
				<td>{$len.model}</td>
				<td>{$len.specs}</td>
				<td>{$len.color}</td>
				<td>{$len.material}</td>
				<td>{$len.create_user}</td>
				<td>{$len.create_time|date="Y-m-d H:i",###}</td>
				<td><if condition="$len['update_time'] eq NULL">-<else/>{$len.update_time|date="Y-m-d H:i",###}</if></td>
				<td>{$len.tips}</td>
				<td></td>
			  </tr>
			</volist>
		  </tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
var SCOPE = {
'edit_url' : '/admin.php?c=lens&a=edit',
'add_url' : '/admin.php?c=lens&a=add',
'hide_url' : '/admin.php?c=lens&a=hidden',
}
//layer-table
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-240'
	,limits: [30,60,90,150,300]
	,limit: 30
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	var url = SCOPE.edit_url + '&id=' + data.id;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
		$.post("/admin.php?c=lens&a=del", data,function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				self.location.reload();
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload();
			}
		},"JSON");
	  });
    } else if(obj.event === 'edit'){
      window.location.href=url;
    }
  });
});
</script>
<include file="Index/footer" />