<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=lens">产品目录</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i>现存型号列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div >
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加新型号</button>
      </div>
      </br>
      <div class="row">
        <form action="/admin.php" method="get">
          <input type="hidden" name="c" value="content"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="" placeholder="型号搜索" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <!--暂时不用--<th>序号</th>-->
                  <th>型号</th>
                  <th>规格</th>
                  <th>色相</th>
                  <th>材质</th>
                  <!--暂时不用--<th>成型箱号</th>-->
                  <th>添加时间</th>
                  <th>更新时间</th>
				  <th>操作者</th>
				  <th>状态</th>
				  <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <volist name="enters" id="enter">
                  <tr>
                    <!--暂时不用--<td>{$enter.enter_id}</td>-->
                    <td>{$enter.et_model}</td>
                    <td>{$enter.et_num}</td>
					<td>{$enter.et_date}</td>
					<td>{$enter.et_time|date="H:i",###}</td>
                    <!--暂时不用--<td>{$enter.et_box}</td>-->
                    <td>{$enter.create_user}</td>
                    <td>{$enter.md_user}</td>
                    <td>{$enter.create_time|date="H:i",###}</td>
                    <td>{$enter.update_time}</td>
                    <td><span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$enter.news_id}" ></span>
                      <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$enter.news_id}"  attr-message="删除">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </a>
                    </td>
                  </tr>
                </volist>
                </tbody>
              </table>
              <nav>
              <ul >
                {$pageres}
              </ul>
            </nav>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var SCOPE = {
    'add_url' : '/admin.php?c=lens&a=add',
  }
</script>
<include file="Index/footer" />