<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
		<!-- jQuery -->
		<script type="text/javascript" charset="utf8" src="Public/js/jquery.js"></script>
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=temp"> 温湿度管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 温湿度登记</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <!-- -->
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp_date" id="temp_date" type="text" placeholder="yyyy-MM-dd"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">地点</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="place" type="text"></div>
                  </div>
                </td>
              </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp1" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum1" type="text"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
			</div>
        </form>
        </div>
      </div>
    </div>
  </div>

<script>
var SCOPE = {
  'jump_url': '/admin.php?c=temp',
}
//lay-form
layui.use(['form','layer'],function() {
  var form = layui.form;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=temp&a=add",data.field,function(result){;
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
});

//laydate
layui.use('laydate',function() {
  var laydate = layui.laydate;
	//date
	laydate.render({
	  elem: '#temp_date' //指定元素
	  ,type: 'date'
	  ,value: new Date()
	  ,theme: 'molv'
	});
});

  //格式化时间
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
<!-- + ':' + checkTime(myDate.getSeconds()) -->
var myDate = new Date();
var result = myDate.getFullYear() + '-' + checkTime(myDate.getMonth()+1) + '-' + checkTime(myDate.getDate());
document.getElementByTagName("temp_date").value = result;
</script>
<include file="Index/footer" />