<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=temp"> 温湿度管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 温湿度记录表编辑</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
		    <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="id" type="text" lay-verify="required" value="{$tempData.id}" readonly="readonly"></div>
                  </div>
                </td>
              </div>
            </tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp_date" id="temp_date" type="text" placeholder="yyyy-MM-dd" lay-verify="required" value="{$tempData.temp_date|date="Y-m-d",###}"></div>
                    
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">地点</label>
                    <div class="layui-input-inline">
                      <select name="place" id="place" lay-verify="required" lay-search="">
                        <option value="{$tempData.place}">==请选择登记区域==</option>
                        <foreach name="place" item="place">
                          <option value="{$place.place}">{$place.place}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
              </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp1" type="text" placeholder="请填写8:00温度记录" lay-verify="number required" value="{$tempData.temp1}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum1" type="text" placeholder="请填写8:00湿度记录" lay-verify="number required" value="{$tempData.hum1}"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp2" type="text" placeholder="13:00" value="<if condition="$tempData['temp2'] eq 0.0"><else/>{$tempData.temp2}℃</if>"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum2" type="text" placeholder="13:00" value="<if condition="$tempData['hum2'] eq 0.0"><else/>{$tempData.hum2}%</if>"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp3" type="text" placeholder="17:00" value="<if condition="$tempData['temp3'] eq 0.0"><else/>{$tempData.temp3}℃</if>"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum3" type="text" placeholder="17:00" value="<if condition="$tempData['hum3'] eq 0.0"><else/>{$tempData.hum3}%</if>"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp4" type="text" placeholder="20:00" value="<if condition="$tempData['temp4'] eq 0.0"><else/>{$tempData.temp4}℃</if>"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum4" type="text" placeholder="20:00" value="<if condition="$tempData['hum4'] eq 0.0"><else/>{$tempData.hum4}%</if>"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp5" type="text" placeholder="1:00" value="<if condition="$tempData['temp5'] eq 0.0"><else/>{$tempData.temp5}℃</if>"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum5" type="text" placeholder="1:00" value="<if condition="$tempData['hum5'] eq 0.0"><else/>{$tempData.hum5}%</if>"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">温度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="temp6" type="text" placeholder="5:00" value="<if condition="$tempData['temp6'] eq 0.0"><else/>{$tempData.temp6}℃</if>"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">湿度</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="hum6" type="text" placeholder="5:00" value="<if condition="$tempData['hum6'] eq 0.0"><else/>{$tempData.hum6}%</if>"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即更新</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
<script>
var SCOPE = {
  'jump_url': '/admin.php?c=temp',
}
//layui
layui.use(['form','layer','laydate'],function() {
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=temp&a=edit",data.field,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 2000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 2000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
//date
  laydate.render({
	elem: '#temp_date' //指定元素
	,type: 'date'
	,value: new Date()
	,theme: 'molv'
  });
});
//格式化时间
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
var myDate = new Date();
var result = myDate.getFullYear() + '-' + checkTime(myDate.getMonth()+1) + '-' + checkTime(myDate.getDate());
document.getElementById("temp_date").value = result;
</script>
<include file="Index/footer" />