<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- DataTables CSS -->	  
	<link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="Public/js/jquery.js"></script>
	<script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
	<!-- Page Heading -->
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=temp"> 温湿度管理</a>
            </li>
            <li class="active"><i class="fa fa-edit"></i> 温湿度点检记录</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
	  <div class="layui-form-item">
	    <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe642 温湿度登记</button>
	    <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删除列表</button> 
	  </div>
	  <form>
		<table id="lens-table" class="cell-border stripe hover compact order-column" >
			<thead>
			<tr>
			  <th>ID</th>
			  <th>日期</th>
			  <th>区域</th>
			  <th>8时</th>
			  <th>8时</th>
			  <th>13时</th>
			  <th>13时</th>
			  <th>17时</th>
			  <th>17时</th>
			  <th>20时</th>
			  <th>20时</th>
			  <th>1时</th>
			  <th>1时</th>
			  <th>5时</th>
			  <th>5时</th>
			  <th>创建者</th>
			  <th>更新时间</th>
			  <th>备注</th>
			  <th>操作</th>
			</tr>
			</thead>
				<tbody>
					<volist name="temp" id="vo">
					  <tr>
						<td>{$vo.id}</td>
						<td>{$vo.temp_date|date="Y-m-d",###}</td>
						<td>{$vo.place}</td>
						<td>{$vo.temp1}℃</td>
						<td>{$vo.hum1}%</td>
						<td><if condition="$vo['temp2'] eq NULL">-<else/>{$vo.temp2}℃</if></td>
						<td><if condition="$vo['hum2'] eq NULL">-<else/>{$vo.hum2}%</if></td>
						<td><if condition="$vo['temp2'] eq NULL">-<else/>{$vo.temp3}℃</if></td>
						<td><if condition="$vo['hum2'] eq NULL">-<else/>{$vo.hum3}%</if></td>
						<td><if condition="$vo['temp2'] eq NULL">-<else/>{$vo.temp4}℃</if></td>
						<td><if condition="$vo['hum2'] eq NULL">-<else/>{$vo.hum4}%</if></td>
						<td><if condition="$vo['temp2'] eq NULL">-<else/>{$vo.temp5}℃</if></td>
						<td><if condition="$vo['hum2'] eq NULL">-<else/>{$vo.hum5}%</if></td>
						<td><if condition="$vo['temp2'] eq NULL">-<else/>{$vo.temp6}℃</if></td>
						<td><if condition="$vo['hum2'] eq NULL">-<else/>{$vo.hum6}%</if></td>
						<td><if condition="$vo['create_user'] eq NULL">-<else/>{$vo.create_user}</if></td>
						<!-- <td><if condition="$vo['create_time'] eq NULL">-<else/>{$vo.create_time}</if></td> -->
						<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
						<td>{$coating.tips}</td>
						<td></td>
					  </tr>
					</volist>
				</tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script>
var SCOPE = {
'edit_url' : '/admin.php?c=temp&a=edit',
'add_url' : '/admin.php?c=temp&a=add',
'hide_url' : '/admin.php?c=temp&a=hidden',
}
//初始化DataTables
$(document).ready( function () {
	var table = $('#lens-table').DataTable({
		"order": [[ 0, "desc" ]],
		"aoColumnDefs":[//设置列的属性，此处设置第一列不排序
			{
				"targets": -1,
				"class":"but_xq",
				"data":null,
				"bSortable":false,
				"defaultContent":"<a id=\"edit\" href=\"#\" class=\"layui-btn layui-btn-mini\"><i class=\"layui-icon\">&#xe642;</i></a><a id=\"del\"  href=\"#\" class=\"layui-btn layui-btn-danger layui-btn-mini\"><i class=\"layui-icon\">&#xe640;</i></a>"
		}],
		"buttons": [
			{
				extend: 'excel',
				text: '导出',
				exportOptions: {
					modifier: {
						page: 'current'
					}
				},
			}
		],
		"columnDefs":[{
				"visible": false,
				"targets": -1
		}],
		"text-align":"center",
		"iDisplayLength":100,
		"vertical-align":"middle",
		"ordering":true,
		"bProcessing":true,
		"oLanguage":{
			"sProcessing":"正在加载中......",
			"sLengthMenu":"每页显示 _MENU_ 条记录",
			"sZeroRecords":"对不起，查询不到相关数据！",
			"sEmptyTable":"表中无数据存在！",
			"sInfo":"当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
			"sInfoFiltered":"数据表中共为 _MAX_ 条记录",
			"sSearch":"搜索",
			"oPaginate":{
				"sFirst":"首页",
				"sPrevious":"上一页",
				"sNext":"下一页",
				"sLast":"末页"
			}
		}
	});
	//修改
	$('#lens-table tbody').on( 'click', 'a#edit', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		var url = SCOPE.edit_url + '&id=' + data[0];
		window.location.href=url;
	});
	//删除
	$('#lens-table tbody').on( 'click', 'a#del', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		$.post("/admin.php?c=temp&a=del", {id:data[0],status:0},function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				window.location.href=SPOPE.jump_url;
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload()
			}
		},"JSON");
	});
});
</script>
<include file="Index/footer" />