<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- Page Heading -->
	</br></br></br></br>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i><a href="/admin.php?c=admin"> 用户管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> 用户列表
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="layui-form-item">
          <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe612 添加新用户</button>
        </div>
		<table class="layui-table">
		  <thead>
		  <tr>
			<th>ID</th>
			<th>姓名</th>
			<th>用户名</th>
			<th>手机号</th>
			<th>内线</th>
			<th>E-mail</th>
			<th>权限组</th>
			<th>最后登录时间</th>
			<th>最后登录设备</th>
			<th>创建人</th>
			<th>状态</th>
			<th>操作</th>
		  </tr>
		  </thead>
		</table>
    </div>
  </div>
</div>
<script>
var SCOPE = {
	'add_url' : '/admin.php?c=admin&a=add',
	'edit_url' : '/admin.php?c=admin&a=personal',
}
//初始化DataTables
layui.use('table', function(){
  var table = layui.table;
});
$(document).ready( function () {
	//修改
	$('#lens-table tbody').on( 'click', 'a#edit', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		var url = SCOPE.edit_url + '&id=' + data[0];
		window.location.href=url;
	});
	//删除
	$('#lens-table tbody').on( 'click', 'a#del', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		$.post("/admin.php?c=admin&a=del", {admin_id:data[0],status:0},function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				<!-- self.location.reload(); -->
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload();
			}
		},"JSON");
	});
});
</script>
<include file="Index/footer" />