<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- Page Heading -->
	</br></br></br></br>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i><a href="/admin.php?c=admin"> 用户管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> 用户列表
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="layui-form-item">
          <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe612 添加新用户</button>
		  <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删除列表</button>
        </div>
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
		  <thead>
			<tr>
			  <th lay-data="{field:'admin_id', width:70, align:'center', sort:true, fixed: 'left'}">ID</th>
			  <th lay-data="{field:'realname', width:80, align:'center', sort:true, fixed: 'left'}">姓名</th>
			  <th lay-data="{field:'username', width:120, align:'center', fixed: 'left', edit: 'text'}">用户名</th>
			  <th lay-data="{field:'mobile', width:120,  align:'center', edit: 'text'}">手机号</th>
			  <th lay-data="{field:'skline', width:70, align:'center', edit: 'text'}">内线</th>
			  <th lay-data="{field:'email', width:160, align:'center'}">E-mail</th>
			  <th lay-data="{field:'power', width:70, align:'center'}">权限组</th>
			  <th lay-data="{field:'lastlogintime', width:160, align:'center'}">登录时间</th>
			  <th lay-data="{field:'lastloginip', width:160, align:'center'}">登录设备</th>
			  <th lay-data="{field:'create_user', width:80, align:'center'}">创建人</th>
			  <th lay-data="{field:'create_time', width:160, align:'center'}">创建时间</th>
			  <th lay-data="{field:'update_time', width:160, align:'center'}">更新时间</th>
			  <th lay-data="{field:'status', width:100, align:'center'}">状态</th>
			  <th lay-data="{width:120, align:'center', toolbar: '#barDemo1', fixed: 'right'}">操作</th>
			</tr>
		  </thead>
		  <tbody>
			<volist name="admins" id="vo">
			  <tr>
				<td>{$vo.admin_id}</td>
				<td>{$vo.realname}</td>
				<td>{$vo.username}</td>
				<td><if condition="$vo['mobile'] eq NULL">-<else/>{$vo.mobile}</if></td>
				<td><if condition="$vo['skline'] eq NULL">-<else/>{$vo.skline}</if></td>
				<td><if condition="$vo['email'] eq NULL">-<else/><a href="mailto:{$vo.email}">{$vo.email}</a></if></td>
				<td><if condition="$vo['power'] eq NULL">-<else/>{$vo.power}</if></td>
				<td><if condition="$vo['lastlogintime'] eq NULL">-<else/>{$vo.lastlogintime|date="Y-m-d H:i:s",###}</if></td>
				<td><if condition="$vo['lastloginip'] eq NULL">-<else/>{$vo.lastloginip}</if></td>
				<td>{$vo.create_user}</td>
				<td>{$vo.create_time|date="Y-m-d H:i",###}</td>
				<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
				<td><if condition="$vo['status'] eq 1">激活<else/>锁定</if></td>
				<td></td>
			  </tr>
			</volist>
		  </tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
var SCOPE = {
	'add_url' : '/admin.php?c=admin&a=add',
	'edit_url' : '/admin.php?c=admin&a=personal',
	'hide_url' : '/admin.php?c=admin&a=hidden',
}
//layer-table
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-240'//高度-20
	,limits: [60,90,150,300]
	,limit: 60
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	var url = SCOPE.edit_url + '&id=' + data.admin_id;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
		$.post("/admin.php?c=admin&a=del", data,function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				self.location.reload();
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload();
			}
		},"JSON");
	  });
    } else if(obj.event === 'edit'){
      window.location.href=url;
    }
  });
});
</script>
<include file="Index/footer" />