<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="Public/css/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="Public/js/jquery.js"></script>
	<script type="text/javascript" charset="utf8" src="Public/css/layui/layui.js"></script>
	<!-- <script type="text/javascript" charset="utf8" src="Public/js/dialog/layer.js"></script> -->
	<script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
	<!-- Page Heading -->
	</br></br></br></br>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i><a href="/admin.php?c=admin"> 用户管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> 用户信息更改
                    </li>
                </ol>
            </div>
        </div>
		<!-- /.row -->
        <form class="layui-form" method="post" action="">
          <!-- -->
          <div class="layui-form-item">
		    <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="admin_id" type="text" value="{$vo.admin_id}" readonly="readonly"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="username"type="text" value="{$vo.username}" readonly="readonly"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="oldpassword" lay-verify="required" type="password"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="newpassword" lay-verify="required" type="password"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="realname" type="text" value="{$vo.realname}"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="mobile" type="text" value="{$vo.mobile}"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">内线</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="skline" type="text" value="{$vo.skline}"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">E-mail</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="email" type="text" value="{$vo.email}"></div>
                  </div>
                </td>
			  </div>
			</tr></br>
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即更新</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
			</div>
	      </div>
		</form>
    </div>
  </div>
</div>
<script>
var SCOPE = {
	'jump_url' : '/admin.php?c=admin',
};
//layui
layui.use(['form','layer'],function() {
  var form = layui.form;
  var url = SCOPE.jump_url;
  //监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=admin&a=personal",data.field,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 2000});
			<!-- self.location.reload(); -->
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 2000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
});
</script>
<include file="Index/footer" />