<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=coating"> 镀膜管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 常规镀膜投入</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="coatingdate" id="coatingdate" type="text" placeholder="yyyy-MM-dd"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="coatingtime" id="coatingtime" type="text" placeholder="hh:mm:ss"></div>
                  </div>
                </td>
              </div>
            </tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">设备</label>
                    <div class="layui-input-inline">
                      <select name="machine" id="machine" lay-verify="required" lay-search="">
                        <option value="">==请选择镀膜设备==</option>
                        <foreach name="machine" item="machine">
                          <option value="{$machine.name}">{$machine.name}号机</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">批次</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="lotnum" id="lotnum" lay-verify="required" type="text" lay-verify="text" placeholder="输入设备代码+LOT号码!"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label for="inputId" class="layui-form-label">担当</label>
                    <div class="layui-input-inline">
                      <select name="ctuser" lay-verify="required" lay-search="">
                        <option value="">==请选择设备担当==</option>
                        <foreach name="ctuser" item="vo">
                          <option value="{$vo.name}">{$vo.name}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
			  </div>
            </tr>
            <?php foreach ($lensnum as $key=>$value){ ?>
              <tr>
                <div class="layui-row">
                  <td>
                    <div class="layui-col-md3">
                      <label for="inputId" class="layui-form-label">型号</label>
                      <div class="layui-input-inline">
                        <input name="<?php echo "model".$key?>" value="<?php echo $value[model]?>" lay-verify="text required" autocomplete="off" class="layui-input" type="text" readonly="readonly"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">数量</label>
                      <div class="layui-input-inline">
                        <input name="<?php echo "num".$key ?>" id="<?php echo "num".$key ?>" placeholder="<?php echo "当前在库:".$value[num] ?>" lay-verify="number required" autocomplete="off" class="layui-input" type="text" onkeyup="changeValue(this.value)"></div>
                    </div>
                  </td>
				  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-inline">
                        <input name="<?php echo "tips".$key ?>" lay-verify="text" autocomplete="on" class="layui-input" type="text"></div>
                    </div>
                  </td>
                </div>
              </tr>
              <?php }?>
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
			</div>
        </form>
        </div>
      </div>
    </div>
  </div>
<script>
var SCOPE = {
  'jump_url': '/admin.php?c=coating',
}
//layui
layui.use(['form','layer','laydate'],function() {
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=coating&a=add",data.field,function(result){;
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
//date
  laydate.render({
	elem: '#coatingdate'
	,type: 'date'
	,value: new Date()
	,theme: 'molv'
  });
//time
  laydate.render({
	elem: '#coatingtime'
	,type: 'time'
	,value: new Date()
	,theme: 'molv'
	,format: 'HH:mm'
  });
});
//格式化时间
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
var myDate = new Date();
var result = checkTime(myDate.getHours()) + ':' + checkTime(myDate.getMinutes()) ;
var result2 = myDate.getFullYear() + '-' + checkTime(myDate.getMonth()+1) + '-' + checkTime(myDate.getDate());
document.getElementById("coatingtime").value = result;
document.getElementById("coatingdate").value = result2;
</script>
<include file="Index/footer" />