<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=coating"> 镀膜管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 镀膜信息编辑</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="id" id="id" type="text" value="{$coatingData.id}" readonly="readonly"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="ct_date" id="ct_date" type="text" placeholder="请选择日期"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="start_time" id="start_time" type="text" placeholder="请选择时间"></div>
                  </div>
                  </br>
                </td>
              </div>
            </tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">设备</label>
                    <div class="layui-input-inline">
                      <select name="ct_machine" id="ct_machine" lay-verify="required" lay-search="">
                        <option value="">==请选择镀膜设备==</option>
                        <foreach name="machineList" item="machineList">
                          <option value="{$machineList.name}">{$machineList.name}号机</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">批次</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="ct_lot" id="ct_lot" required type="text" lay-verify="text" value="{$coatingData.ct_lot}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">担当</label>
                    <div class="layui-input-inline">
                      <select name="ct_user" id="ct_user" lay-verify="required" lay-search="">
                        <option value="">==请选择设备担当==</option>
                        <foreach name="coatingUser" item="coatingUser">
                          <option value="{$coatingUser.name}">{$coatingUser.name}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
            </tr>
              <tr>
                <div class="layui-row">
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">型号</label>
                      <div class="layui-input-inline">
                        <input name="ct_model" value="{$coatingData.ct_model}" required lay-verify="text" autocomplete="off" class="layui-input" type="text" readonly="readonly"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">数量</label>
                      <div class="layui-input-inline">
                        <input name="ct_num" value="{$coatingData.ct_num}" lay-verify="number" autocomplete="on" class="layui-input" type="text"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md6">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-inline">
                        <input name="tips" value="{$coatingData.tips}" lay-verify="text" autocomplete="off" class="layui-input" type="text"></div>
                    </div>
                  </td>
                </div>
              </tr>
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即更新</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
                </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<script>
var SCOPE = {
  'jump_url': '/admin.php?c=coating',
}
//layui
layui.use(['form','layer','laydate'],function() {
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=coating&a=edit",data.field,function(result){
		<!-- layer.alert(JSON.stringify(data.field)); -->
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
//date
  laydate.render({
	elem: '#ct_date'
	,type: 'date'
	,value: new Date()
	,theme: 'molv'
  });
//time
  laydate.render({
	elem: '#start_time'
	,format: 'HH:mm'
	,type: 'time'
	,value: new Date()
	,theme: 'molv'
  });
});
//格式化时间
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
var myDate = new Date();
var result = checkTime(myDate.getHours()) + ':' + checkTime(myDate.getMinutes()) ;
var result2 = myDate.getFullYear() + '-' + checkTime(myDate.getMonth()+1) + '-' + checkTime(myDate.getDate());
document.getElementById("start_time").value = result;
document.getElementById("ct_date").value = result2;
</script>
<include file="Index/footer" />