<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="Public/css/layui/css/layui.css" media="all">
        <link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="Public/js/jquery.js"></script>
        <script type="text/javascript" charset="utf8" src="Public/css/layui/layui.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
        <!-- Page Heading --></br>
        </br>
        </br>
        </br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=coating">镀膜管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i>镀膜信息编辑</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <!-- -->
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="coatingdate" id="coatingdate" type="text" value="{$coatingData.ct_date}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="coatingtime" id="coatingtime" type="text" value="{$coatingData.start_time}"></div>
                  </div>
                  </br>
                </td>
                <td>
                  <div class="layui-col-md3"></div>
                </td>
              </div>
            </tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">设备</label>
                    <div class="layui-input-inline">
                      <select name="machine" id="machine" lay-verify="required" lay-search="">
                        <option value={$coatingData.ct_machine}>==请选择镀膜设备==</option>
                        <foreach name="machine" item="ctmachine">
                          <option value="{$key}">{$machine}号机</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">批次</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="lotnum" id="lotnum" required type="text" lay-verify="text" value="{$coatingData.ct_lot}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label for="inputId" class="layui-form-label">担当</label>
                    <div class="layui-input-inline">
                      <select name="ctuser" lay-verify="required" lay-search="">
                        <option value="{$coatingData.ct_user}">==请选择设备担当==</option>
                        <foreach name="ctuser" item="coatinguser">
                          <option value="{$key}">{$ctuser}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
            </tr>
              <tr>
                <div class="layui-row">
                  <td>
                    <div class="layui-col-md3">
                      <label for="inputId" class="layui-form-label">型号</label>
                      <div class="layui-input-inline">
                        <input name="model" value="{$coatingData.ct_model}" required lay-verify="text" autocomplete="off" class="layui-input" type="text" readonly="readonly"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">数量</label>
                      <div class="layui-input-inline">
                        <input name="ct_num" value="{$coatingData.ct_num}" lay-verify="number" autocomplete="on" class="layui-input" type="text"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md6">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-inline">
                        <input name="tips" value="{$coatingData.tips}" lay-verify="text" autocomplete="off" class="layui-input" type="text"></div>
                    </div>
                  </td>
                </div>
              </tr>
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
                </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<script>
  var SCOPE = {
    'save_url' : '/admin.php?c=lens&a=updateLens',
    'jump_url' : '/admin.php?c=lens',
  };
</script>
<include file="Index/footer" />