<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- DataTables CSS -->	  
	<link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
	<!-- Page Heading -->
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=coating"> 镀膜管理</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 已删除列表
            </li>
          </ol>
        </div>
      </div>
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
			<thead>
			<tr>
			  <th lay-data="{field:'id', width:70, align:'center', sort:true, fixed: 'left'}">ID</th>
			  <th lay-data="{field:'ct_model', width:120, align:'center', sort:true, fixed: 'left'}">型号</th>
			  <th lay-data="{field:'ct_num', width:80, align:'center', sort:true, fixed: 'left', edit: 'text'}">数量</th>
			  <th lay-data="{field:'ct_date', width:100,  align:'center',sort:true}">日期</th>
			  <th lay-data="{field:'ct_machine', width:80, align:'center'}">镀膜机</th>
			  <th lay-data="{field:'ct_lot', width:100, align:'center', sort:true}">批次</th>
			  <th lay-data="{field:'ct_user', width:80, align:'center', sort:true}">担当</th>
			  <th lay-data="{field:'start_time', width:70, align:'center'}">投入</th>
			  <th lay-data="{field:'over_time', width:70, align:'center'}">出库</th>
			  <th lay-data="{field:'spec_t', width:70, align:'center'}">分光</th>
			  <th lay-data="{field:'tips', width:100, align:'center'}">备注</th>
			  <th lay-data="{field:'create_user', width:70, align:'center'}">操作者</th>
			  <th lay-data="{field:'create_time', width:70, align:'center'}">提交</th>
			  <th lay-data="{field:'update_time', width:130, align:'center'}">更新时间</th>
			  <th lay-data="{width:80, align:'center', toolbar: '#barDemo1', fixed: 'right'}">操作</th>
			</tr>
			</thead>
			<tbody>
			<volist name="coating" id="vo">
			  <tr>
				<td>{$vo.id}</td>
				<td>{$vo.ct_model}</td>
				<td>{$vo.ct_num}</td>
				<td>{$vo.ct_date|date="Y-m-d",###}</td>
				<td>{$vo.ct_machine}号机</td>
				<td>{$vo.ct_lot}</td>
				<td>{$vo.ct_user}</td>
				<td>{$vo.start_time|date="H:i",###}</td>
				<td><if condition="$vo['over_time'] eq NULL">-<else/>{$vo.over_time|date="H:i",###}</if></td>
				<td><if condition="$vo['spec_t'] eq NULL">-<else/>{$vo.spec_t}</if></td>
				<td>{$vo.tips}</td>
				<td>{$vo.create_user}</td>
				<td>{$vo.create_time|date="H:i",###}</td>
				<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
				<td></td>
			  </tr>
			</volist>
			</tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="reset">恢复</a>
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-20'//高度-20
	,limits: [60,90,150,300]
	,limit: 60
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	$.post("/admin.php?c=coating&a=restatus", data,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			self.location.reload();
		}
	},"JSON");
  });
});
</script>
<include file="Index/footer" />