<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- Page Heading -->
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=coating"> 镀膜管理</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 当日镀膜明细
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
	  <div class="layui-form-item">
	    <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe642 常规镀膜投入</button>
	    <!-- <button  id="button-new" type="button" class="layui-btn layui-icon layui-btn-normal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe654 新品镀膜投入</button> -->
	    <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删除列表</button> 
	  </div>
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
			<thead>
			<tr>
			  <th lay-data="{field:'id', width:70, align:'center', sort:true}">ID</th>
			  <th lay-data="{field:'ct_model', width:120, align:'center', sort:true}">型号</th>
			  <th lay-data="{field:'ct_num', width:80, align:'center', sort:true, edit: 'text'}">数量</th>
			  <th lay-data="{field:'ct_date', width:100,  align:'center',sort:true}">日期</th>
			  <th lay-data="{field:'ct_machine', width:80, align:'center'}">镀膜机</th>
			  <th lay-data="{field:'ct_lot', width:100, align:'center', sort:true}">批次</th>
			  <th lay-data="{field:'ct_user', width:80, align:'center', sort:true}">担当</th>
			  <th lay-data="{field:'start_time', width:70, align:'center'}">投入</th>
			  <th lay-data="{field:'over_time', width:70, align:'center'}">出库</th>
			  <th lay-data="{width:120, align:'center', toolbar: '#barDemo1'}">操作</th>
			  <th lay-data="{field:'spec_t', width:70, align:'center'}">分光</th>
			  <th lay-data="{field:'tips', width:100, align:'center'}">备注</th>
			  <th lay-data="{field:'create_user', width:70, align:'center'}">操作者</th>
			  <th lay-data="{field:'create_time', width:70, align:'center'}">提交</th>
			  <th lay-data="{field:'update_time', width:130, align:'center'}">更新时间</th>
			</tr>
			</thead>
			<tbody>
			<volist name="coating" id="vo">
			  <tr>
				<td>{$vo.id}</td>
				<td>{$vo.ct_model}</td>
				<td>{$vo.ct_num}</td>
				<td>{$vo.ct_date|date="Y-m-d",###}</td>
				<td>{$vo.ct_machine}号机</td>
				<td>{$vo.ct_lot}</td>
				<td>{$vo.ct_user}</td>
				<td>{$vo.start_time|date="H:i",###}</td>
				<td><if condition="$vo['over_time'] eq NULL">-<else/>{$vo.over_time|date="H:i",###}</if></td>
				<td></td>
				<td><if condition="$vo['spec_t'] eq NULL">-<else/>{$vo.spec_t}</if></td>
				<td>{$vo.tips}</td>
				<td>{$vo.create_user}</td>
				<td>{$vo.create_time|date="H:i",###}</td>
				<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
			  </tr>
			</volist>
			</tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
var SCOPE = {
'edit_url' : '/admin.php?c=coating&a=edit',
'add_url' : '/admin.php?c=coating&a=add',
'new_url' : '/admin.php?c=coating&a=addnew',
'hide_url' : '/admin.php?c=coating&a=hidden',
}
//layer-table
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-20'//高度-20
	,limits: [60,90,150,300]
	,limit: 60
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	var url = SCOPE.edit_url + '&id=' + data.id;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
		$.post("/admin.php?c=coating&a=del", data,function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				self.location.reload();
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload();
			}
		},"JSON");
	  });
    } else if(obj.event === 'edit'){
      window.location.href=url;
    }
  });
  //监听单元格编辑
  table.on('edit(demo)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
	var postdata = [];
	postdata['id'] = data.id;
	postdata['ct_num'] = value;
	$.post("/admin.php?c=coating&a=editnum", postdata, function(result){
		if(result.status == 1){
			layer.msg(postdata, {icon: 2,time: 30000});
			layer.msg(result.message, {icon: 2,time: 30000});
			<!-- self.location.reload(); -->
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 30000});
			<!-- self.location.reload(); -->
		}
	},"JSON");
  });
});
</script>
<include file="Index/footer" />
