<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="/Public/js/Datatables/jquery.dataTables.min.js"></script>
	<!-- Page Heading -->
	</br></br></br></br>
		<div class="row">
		  <div class="col-lg-12">
			<ol class="breadcrumb">
		      <li>
				<i class="fa fa-dashboard"></i><a href="/admin.php?c=enter"> 入库管理</a>
			  </li>
			  <li class="active">
				<i class="fa fa-edit"></i> 产品入库
			  </li>
			</ol>
		  </div>
		</div>
		<!-- /.row -->
		<form class="layui-form" method="post" action="">
		  <div class="layui-row">
		   <div class="layui-form-item">
		   <td>
			<div class="layui-col-md3">
			  <label class="layui-form-label">日期</label>
				<div class="layui-input-inline">
				  <input class="layui-input" name="enterdate" id="enterdate" placeholder="yyyy-MM-dd" type="text" value="{$lastlens}">
				</div>
			</div>
			</td>
		   <td>
			<div class="layui-col-md3">
			  <label class="layui-form-label">时间</label>
				<div class="layui-input-inline">
				  <input class="layui-input" name="entertime" id="entertime" type="text" placeholder="hh:mm:ss">
				</div>
			</div>
			</td>
			<td>
			  <div class="layui-col-md3">
				<label for="inputId" class="layui-form-label">担当</label>
				  <div class="layui-input-inline">
				  <select name="mduser" lay-verify="required" lay-search="">
				    <option value="">==请选择成型担当==</option>
					  <foreach name="mduser" item="vo">
					    <option value="{$vo.name}">{$vo.name}</option>
					  </foreach>
				  </select>
				  </div>
			  </div>
			</td>
			<?php foreach ($enterlens as $key => $value){ ?>
			</br></br></br>
			<tr>
			  <td>
				<div class="layui-col-md3">
				  <label for="inputId" class="layui-form-label">型号</label>
				  <div class="layui-input-inline">
					<input name="<?php echo "model".$key?>" value="<?php echo $value?>" required lay-verify="text" autocomplete="off" class="layui-input" type="text" readonly="readonly">
				  </div>
				</div>
			  </td>
			  <td>
				<div class="layui-col-md3">
				<label class="layui-form-label">数量</label>
				  <div class="layui-input-inline">
					<input name="<?php echo "etnum".$key ?>" value=0 lay-verify="number" autocomplete="on" class="layui-input" type="text">
				  </div>
				</div>
			  </td>
			  <td>
				<div class="layui-col-md6">
				<label class="layui-form-label">备注</label>
				  <div class="layui-input-inline">
					<input name="<?php echo "tips".$key ?>" lay-verify="text" autocomplete="off" class="layui-input" type="text">
				  </div>
				</div>
			  </td>
			</tr>
			<?php }?>
		  </div>

		    <div class="layui-form-item">
			  <div class="layui-input-block">
			    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			  </div>
		    </div>
		  </div>
		</form>  
    </div>
  </div>
</div>
<script>
var SCOPE = {
'jump_url' : '/admin.php?c=enter',
}
//lay-form
layui.use(['form','layer','laydate'], function(){
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
  //监听提交
  form.on('submit(formDemo)', function(data){
	$.post("admin.php?c=enter&a=add",data.field,function(result){;
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
  //date
  laydate.render({
    elem: '#enterdate'
	,type: 'date'
	,value: new Date()
	,theme: 'molv'
  });
  //time
  laydate.render({
    elem: '#entertime'
	,type: 'time'
	,value: new Date()
	,theme: 'molv'
	,format: 'HH:mm'
  });
});
//格式化时间
function checkTime(i){
    if (i<10){
        i = "0" + i;
    }
    return i;
}
var myDate = new Date();
var result = checkTime(myDate.getHours())+':'+checkTime(myDate.getMinutes());
document.getElementById("entertime").value=result;
</script>
<include file="Index/footer" />