<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=enter"> 入库管理</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 入库信息编辑</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <!-- -->
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="id" id="id" type="text" value="{$enterData.id}" readonly="readonly"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="et_date" id="et_date" type="text" value="{$enterData.et_date|date="Y-m-d",###}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="et_time" id="et_time" type="text"  value="{$enterData.et_time|date="H:i",###}"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">担当</label>
                    <div class="layui-input-inline">
                      <select name="md_user" id="md_user" lay-verify="required" lay-search="">
                        <option value="">==请选择成型担当==</option>
                        <foreach name="mdUser" item="mdUser">
                          <option value="{$mdUser.name}">{$mdUser.name}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
              </div>
            </tr>
              <tr>
                <div class="layui-row">
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">型号</label>
                      <div class="layui-input-inline">
                        <input name="et_model" value="{$enterData.et_model}" lay-verify="text" autocomplete="off" class="layui-input" type="text" readonly="readonly"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md3">
                      <label class="layui-form-label">数量</label>
                      <div class="layui-input-inline">
                        <input name="et_num" value="{$enterData.et_num}" lay-verify="number" autocomplete="on" class="layui-input" type="text"></div>
                    </div>
                  </td>
                  <td>
                    <div class="layui-col-md6">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-inline">
                        <input name="tips" value="{$enterData.tips}" lay-verify="text" autocomplete="off" class="layui-input" type="text"></div>
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即更新</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
                </div>
              </tr>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
var SCOPE = {
  'jump_url': '/admin.php?c=enter',
}
//layui
layui.use(['form','layer','laydate'],function() {
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=enter&a=edit",data.field,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
//date
  laydate.render({
	elem: '#et_date'
	,type: 'date'
	,theme: 'molv'
  });
//time
  laydate.render({
	elem: '#et_time'
	,type: 'time'
	,theme: 'molv'
	,format: 'HH:mm'
	});
});
</script>
<include file="Index/footer" />