<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=menu">菜单管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> 菜单编辑
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="menu_id" type="text" value="{$menu.menu_id}" readonly="readonly"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">菜单名</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="name" type="text" value="{$menu.name}"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">类型:</label>
                    <div class="layui-input-inline">
                      <input type="radio" name="type" value="1" title="后台" <if condition="$menu.type eq 1">checked</if>>
                      <input type="radio" name="type" value="0" title="前端" <if condition="$menu.type eq 0">checked</if>></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="listorder" type="text" lay-verify="number" value="{$menu.listorder}"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
            <tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">模块名</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="m" type="text" value="{$menu.m}" placeholder="模块名如admin"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">控制器</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="c" type="text" value="{$menu.c}"placeholder="控制器名如index"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">方法名</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" name="f" type="text" value="{$menu.f}" placeholder="方法名如index"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                      <input type="radio" name="status" value="1" title="开启" <if condition="$menu.status eq 1">checked</if>>
                      <input type="radio" name="status" value="0" title="关闭" <if condition="$menu.status eq 0">checked</if>></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即更新</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
            </tr>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
var SCOPE = {
  'jump_url' : '/admin.php?c=menu',
}
//layui
layui.use(['form','layer'],function() {
  var form = layui.form;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=menu&a=edit",data.field,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
});
</script>
<include file="Index/footer" />