<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
    <!-- Page Heading -->
	  </br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=menu"> 菜单管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> 已删除菜单列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
		  <thead>
			<tr>
			  <th lay-data="{field:'menu_id', width:60, align:'center', fixed: 'left'}">ID</th>
			  <th lay-data="{field:'name', width:120, align:'center', fixed: 'left'}">菜单名</th>
			  <th lay-data="{field:'m', width:80, align:'center'}">模块名</th>
			  <th lay-data="{field:'c', width:80, align:'center'}">控制器</th>
			  <th lay-data="{field:'f', width:80, align:'center'}">方法名</th>
			  <th lay-data="{field:'type', width:100, align:'center'}">类型</th>
			  <th lay-data="{field:'status', width:80, align:'center'}">状态</th>
			  <th lay-data="{field:'listorder', width:80, align:'center', sort:true, edit:'text'}">排序</th>
			  <th lay-data="{field:'create_user', width:80, align:'center'}">操作者</th>
			  <th lay-data="{field:'create_time', width:160, align:'center'}">创建时间</th>
			  <th lay-data="{field:'update_time', width:160, align:'center'}">更新时间</th>
			  <th lay-data="{field:'tips', width:160, align:'center'}">备注</th>
			  <th lay-data="{width:80, align:'center', toolbar: '#barDemo1', fixed: 'right'}">操作</th>
			</tr>
		  </thead>
		  <tbody>
			<volist name="hidden" id="vo">
			  <tr>
				<td>{$vo.menu_id}</td>
				<td>{$vo.name}</td>
				<td>{$vo.m}</td>
				<td>{$vo.c}</td>
				<td>{$vo.f}</td>
				<td>{$vo.type|getMenuType}</td>
				<td>{$vo.status|status}</td>
				<td>{$vo.listorder}</td>
				<td>{$vo.create_user}</td>
				<td>{$vo.create_time|date="Y-m-d H:i",###}</td>
				<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
				<td>{$vo.tips}</td>
				<td></td>
			  </tr>
			</volist>
		  </tbody>
		</table>
	  </form>
    </div>
  </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="reset">恢复</a>
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-240'
	,limits: [30,60,90,150,300]
	,limit: 30
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	$.post("/admin.php?c=menu&a=restatus", data,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			self.location.reload();
		}
	},"JSON");
  });
});
</script>
<include file="Index/footer" />