<include file="Index/header" />
<body>
  <div id="wrapper">
    <include file="Index/nav" />
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
		</br></br></br></br>
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>
                <a href="/admin.php?c=check"> 单品外观检查</a></li>
              <li class="active">
                <i class="fa fa-edit"></i> 按镀膜LOT统计</li>
            </ol>
          </div>
        </div>
        <!-- /.row -->
        <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label" style="width: 80px;">日期</label>
                    <div class="layui-input-inline" style="width: 160px;">
                      <input class="layui-input" name="checkdate" id="checkdate" type="text" placeholder="yyyy-MM-dd"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label" style="width: 80px;">型号</label>
                    <div class="layui-input-inline" style="width: 160px;">
                    <select name="ck_model" lay-verify="required" lay-search="">
                        <option value="">==请选择型号==</option>
                        <foreach name="lensnum" item="vo">
                          <option value="{$vo.model}">{$vo.model}</option></foreach>
                      </select>
					</div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label" style="width: 80px;">批号</label>
                    <div class="layui-input-inline" style="width: 160px;">
                      <input class="layui-input" name="ck_lot" lay-verify="required" type="text" lay-verify="text" placeholder="镀膜Lot No."></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label" style="width: 80px;">检查者</label>
                    <div class="layui-input-inline" style="width: 160px;">
                      <select name="ck_user" lay-verify="required" lay-search="">
                        <option value="">==请选择检查者==</option>
                        <foreach name="ckuser" item="vo">
                          <option value="{$vo.name}">{$vo.name}</option></foreach>
                      </select>
                    </div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md6">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-inline" style="width: 160px;">
					  <input class="layui-input" name="tips" placeholder="请输入内容" type="text"></textarea></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
			    <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">检查数</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" lay-verify="required|number" type="text"></div>
                  </div>
                </td>
			    <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">良品数</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
			    <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">不良数</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">不良率</label>
					<div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" value="4.00%" type="text"></div>
				  </div>
                </td>
			<!-- row1 -->
            <tr>
			  <div class="layui-row">
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">亮点</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_model" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">异物</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">错位</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="goods_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">痕迹</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">气泡</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>                
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">F/M</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
			 </div>
            </tr>
			<!-- row2 -->
            <tr>
              <div class="layui-row">
			    <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">跑盘</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">LOSS</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_model" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">无签</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">装反</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="goods_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">半月</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">小异</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_lot" type="text"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<!-- row3 -->
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">材线</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_lot" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">GATE</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_model" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">划痕</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">黑点</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="goods_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">成型</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">压痕</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_lot" type="text"></div>
                  </div>
                </td>
			  </div>
            </tr>
			<!-- row4 -->
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">镀膜</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_lot" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">发白</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_model" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">吸划</label></label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="ck_num" type="text"></div>
                  </div>
                </td>
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">材异</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="goods_num" type="text"></div>
                  </div>
                </td>
                <td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">成点</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
				<td>
                  <div class="layui-col-md2">
                    <label class="layui-form-label" style="width: 80px;">其他</label>
                    <div class="layui-input-inline" style="width: 100px;">
                      <input class="layui-input" name="bads_num" type="text"></div>
                  </div>
                </td>
			  </div>
            </tr></br>
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
			</div>
        </form>
        </div>
      </div>
    </div>
  </div>

<script>
var SCOPE = {
  'jump_url': '/admin.php?c=coating',
}
//layui
layui.use(['form','layer','laydate'],function() {
  var form = layui.form;
  var laydate = layui.laydate;
  var url = SCOPE.jump_url;
//监听提交
  form.on('submit(formDemo)',function(data){
	$.post("admin.php?c=check&a=add",data.field,function(result){;
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
//date
  laydate.render({
	elem: '#checkdate' //指定元素
	,type: 'date'
	,value: new Date()
	,theme: 'molv'
  });
});
//格式化时间
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
var myDate = new Date();
var result = myDate.getFullYear() + '-' + checkTime(myDate.getMonth()+1) + '-' + checkTime(myDate.getDate());
document.getElementById("checkdate").value = result;
</script>
<include file="Index/footer" />