<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=check"> 单品外观检查</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 单品外观检查明细
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
	  <div class="layui-form-item">
	    <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe642 按镀膜LOT统计</button>
	    <button  id="button-new" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe654 按型号名统计</button>
	    <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删除列表</button> 
	  </div>
	  <form>
		<table lay-filter="demo">
		  <thead>
			<tr>
			  <th lay-data="{field:'id', width:70, sort:true, fixed:'left'}">ID</th>
			  <th lay-data="{field:'model', width:120, sort:true, fixed:'left'}">型号</th>
			  <th lay-data="{field:'lot', width:120, sort:true, fixed:'left'}">批次</th>
			  <th lay-data="{field:'user', width:80}">检查者</th>
			  <th lay-data="{field:'num', width:80}">检查数</th>
			  <th lay-data="{field:'goods', width:80}">良品数</th>
			  <th lay-data="{field:'bads', width:80}">不良数</th>
			  <th lay-data="{field:'liangdian', width:80, edit: 'text'}">亮点</th>
			  <th lay-data="{field:'yiwu', width:80}">异物</th>
			  <th lay-data="{field:'cuowei', width:80}">错位</th>
			  <th lay-data="{field:'henji', width:80}">痕迹</th>
			  <th lay-data="{field:'qipao', width:80}">气泡</th>
			  <th lay-data="{field:'fm', width:80}">F/M</th>
			  <th lay-data="{field:'paopan', width:80}">跑盘</th>
			  <th lay-data="{field:'loss', width:80}">LOSS</th>
			  <th lay-data="{field:'wuqian', width:80}">无签</th>
			  <th lay-data="{field:'zhuangfan', width:80}">装反</th>
			  <th lay-data="{field:'banyue', width:80}">半月</th>
			  <th lay-data="{field:'xiaoyi', width:80}">小异</th>
			  <th lay-data="{field:'caixian', width:80}">材线</th>
			  <th lay-data="{field:'gate', width:80}">GATE</th>
			  <th lay-data="{field:'huahen', width:80}">划痕</th>
			  <th lay-data="{field:'heidian', width:80}">黑点</th>
			  <th lay-data="{field:'chengxing', width:80}">成型</th>
			  <th lay-data="{field:'yahen', width:80}">压痕</th>
			  <th lay-data="{field:'dumo', width:80}">镀膜</th>
			  <th lay-data="{field:'fabai', width:80}">发白</th>
			  <th lay-data="{field:'xihua', width:80}">吸划</th>
			  <th lay-data="{field:'caiyi', width:80}">材异</th>
			  <th lay-data="{field:'chengdian', width:80}">成点</th>
			  <th lay-data="{field:'others', width:80}">其他</th>
			  <th lay-data="{field:'create_user', width:80}">操作者</th>
			  <th lay-data="{field:'update_time', width:150}">更新时间</th>
			  <th lay-data="{width:120, align:'center', toolbar: '#barDemo1'}">操作</th>
			</tr>
		  </thead>
		  <tbody>
			<volist name="check" id="vo">
			  <tr>
				<td>{$vo.id}</td>
				<td>{$vo.model}</td>
				<td>{$vo.lot}</td>
				<td>{$vo.user}</td>
				<td>{$vo.num}</td>
				<td>{$vo.goods}</td>
				<td>{$vo.bads}</td>
				<td>{$vo.liangdian}</td>
				<td>{$vo.yiwu}</td>
				<td>{$vo.cuowei}</td>
				<td>{$vo.henji}</td>
				<td>{$vo.qipao}</td>
				<td>{$vo.fm}</td>
				<td>{$vo.paopan}</td>
				<td>{$vo.loss}</td>
				<td>{$vo.wuqian}</td>
				<td>{$vo.zhuangfan}</td>
				<td>{$vo.banyue}</td>
				<td>{$vo.xiaoyi}</td>
				<td>{$vo.caixian}</td>
				<td>{$vo.gate}</td>
				<td>{$vo.huahen}</td>
				<td>{$vo.heidian}</td>
				<td>{$vo.chengxing}</td>
				<td>{$vo.yahen}</td>
				<td>{$vo.dumo}</td>
				<td>{$vo.fabai}</td>
				<td>{$vo.xihua}</td>
				<td>{$vo.caiyi}</td>
				<td>{$vo.chengdian}</td>
				<td>{$vo.others}</td>
				<td>{$vo.create_user}</td>
				<td>{$vo.update_time|date="Y-m-d H:i",###}</td>
				<td></td>
			  </tr>
			</volist>
		  </tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
var SCOPE = {
'edit_url' : '/admin.php?c=check&a=edit',
'add_url' : '/admin.php?c=check&a=add',
'new_url' : '/admin.php?c=check&a=addnew',
'hide_url' : '/admin.php?c=check&a=hidden',
}
//layer-table
layui.use('table', function(){
  var table = layui.table;
  
  table.init('demo', {
	height: 'full-20'//高度-20
	,limits: [60,90,150,300]
	,limit: 60
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	var url = SCOPE.edit_url + '&id=' + data.id;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
		$.post("/admin.php?c=check&a=del", data,function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				self.location.reload();
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload();
			}
		},"JSON");
	  });
    } else if(obj.event === 'edit'){
      window.location.href=url;
    }
  });
  //监听单元格编辑
  table.on('edit(demo)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
  });
});
</script>
<include file="Index/footer" />