<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- DataTables CSS -->	  
	<link rel="stylesheet" type="text/css" href="Public/js/Datatables/jquery.dataTables.min.css">
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="Public/js/Datatables/jquery.dataTables.min.js"></script>
	<!-- Page Heading -->
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=check"> 单品外观检查</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 单品外观检查明细
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
	  <div class="layui-form-item">
	    <button  id="button-add" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe642 按镀膜LOT统计</button>
	    <button  id="button-new" type="button" class="layui-btn layui-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe654 按型号名统计</button>
	    <button  id="button-hide" type="button" class="layui-btn layui-icon layui-btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xe640 已删除列表</button> 
	  </div>
	  <form>
		<table lay-filter="demo">
		  <thead>
			<tr>
			  <th lay-data="{field:'id', width:70, sort:true, fixed:'left'}">ID</th>
			  <th lay-data="{field:'model', width:120, sort:true, fixed:'left'}">型号</th>
			  <th lay-data="{field:'lot', width:120, sort:true, fixed:'left'}">批次</th>
			  <th lay-data="{field:'user', width:80, fixed:'left'}">检查者</th>
			  <th lay-data="{field:'num', width:80, fixed:'left'}">检查数</th>
			  <th lay-data="{field:'goods', width:80}">良品数</th>
			  <th lay-data="{field:'bads', width:80}">不良数</th>
			  <th lay-data="{field:'liangdian', width:80}">亮点</th>
			  <th lay-data="{field:'yiwu', width:80}">异物</th>
			  <th lay-data="{field:'cuowei', width:80}">错位</th>
			  <th lay-data="{field:'henji', width:80}">痕迹</th>
			  <th lay-data="{field:'qipao', width:80}">气泡</th>
			  <th lay-data="{field:'fm', width:80}">F/M</th>
			  <th lay-data="{field:'paopan', width:80}">跑盘</th>
			  <th lay-data="{field:'loss', width:80}">LOSS</th>
			  <th lay-data="{field:'wuqian', width:80}">无签</th>
			  <th lay-data="{field:'zhuangfan', width:80}">装反</th>
			  <th lay-data="{field:'banyue', width:80}">半月</th>
			  <th lay-data="{field:'xiaoyi', width:80}">小异</th>
			  <th lay-data="{field:'caixian', width:80}">材线</th>
			  <th lay-data="{field:'gate', width:80}">GATE</th>
			  <th lay-data="{field:'huahen', width:80}">划痕</th>
			  <th lay-data="{field:'heidian', width:80}">黑点</th>
			  <th lay-data="{field:'chengxing', width:80}">成型</th>
			  <th lay-data="{field:'yahen', width:80}">压痕</th>
			  <th lay-data="{field:'dumo', width:80}">镀膜</th>
			  <th lay-data="{field:'fabai', width:80}">发白</th>
			  <th lay-data="{field:'xihua', width:80}">吸划</th>
			  <th lay-data="{field:'caiyi', width:80}">材异</th>
			  <th lay-data="{field:'chengdian', width:80}">成点</th>
			  <th lay-data="{field:'others', width:80}">其他</th>
			  <th lay-data="{field:'create_user', width:80}">操作者</th>
			  <th lay-data="{field:'update_time', width:100}">更新时间</th>
			</tr>
		  </thead>
		  <tbody>
			<volist name="check" id="vo">
			  <tr>
				<td>{$vo.id}</td>
				<td>{$vo.model}</td>
				<td>{$vo.lot}</td>
				<td>{$vo.user}</td>
				<td>{$vo.num}</td>
				<td>{$vo.goods}</td>
				<td>{$vo.bads}</td>
				<td>{$vo.liangdian}</td>
				<td>{$vo.yiwu}</td>
				<td>{$vo.cuowei}</td>
				<td>{$vo.henji}</td>
				<td>{$vo.qipao}</td>
				<td>{$vo.fm}</td>
				<td>{$vo.paopan}</td>
				<td>{$vo.loss}</td>
				<td>{$vo.wuqian}</td>
				<td>{$vo.zhuangfan}</td>
				<td>{$vo.banyue}</td>
				<td>{$vo.xiaoyi}</td>
				<td>{$vo.caixian}</td>
				<td>{$vo.gate}</td>
				<td>{$vo.huahen}</td>
				<td>{$vo.heidian}</td>
				<td>{$vo.chengxing}</td>
				<td>{$vo.yahen}</td>
				<td>{$vo.dumo}</td>
				<td>{$vo.fabai}</td>
				<td>{$vo.xihua}</td>
				<td>{$vo.caiyi}</td>
				<td>{$vo.chengdian}</td>
				<td>{$vo.others}</td>
				<td>{$vo.create_user}</td>
				<td>{$vo.update_time}</td>
			  </tr>
			</volist>
		  </tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script>
var SCOPE = {
'edit_url' : '/admin.php?c=check&a=edit',
'add_url' : '/admin.php?c=check&a=add',
'new_url' : '/admin.php?c=check&a=addnew',
'hide_url' : '/admin.php?c=check&a=hidden',
}
//初始化DataTables
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 315 //设置高度
  //支持所有基础参数
  });
});
$(document).ready( function () {
	var table = $('#lens-table').DataTable({
		"order": [[ 0, "desc" ]],
		"aoColumnDefs":[//设置列的属性，此处设置第一列不排序
			{
				"targets": -1,
				"class":"but_xq",
				"data":null,
				"bSortable":false,
				"defaultContent":"<a id=\"edit\" href=\"#\" class=\"layui-btn layui-btn-mini\"><i class=\"layui-icon\">&#xe642;</i></a><a id=\"del\"  href=\"#\" class=\"layui-btn layui-btn-danger layui-btn-mini\"><i class=\"layui-icon\">&#xe640;</i></a>"
		}],
		"buttons": [
			{
				extend: 'excel',
				text: '导出',
				exportOptions: {
					modifier: {
						page: 'current'
					}
				},
			}
		],
		"columnDefs":[{
				"visible": false,
				"targets": -1
		}],
		"text-align":"center",
		"iDisplayLength":100,
		"vertical-align":"middle",
		"ordering":true,
		"bProcessing":true,
		"oLanguage":{
			"sProcessing":"正在加载中......",
			"sLengthMenu":"每页显示 _MENU_ 条记录",
			"sZeroRecords":"对不起，查询不到相关数据！",
			"sEmptyTable":"表中无数据存在！",
			"sInfo":"当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
			"sInfoFiltered":"数据表中共为 _MAX_ 条记录",
			"sSearch":"搜索",
			"oPaginate":{
				"sFirst":"首页",
				"sPrevious":"上一页",
				"sNext":"下一页",
				"sLast":"末页"
			}
		}
	});
	//修改
	$('#lens-table tbody').on( 'click', 'a#edit', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		var url = SCOPE.edit_url + '&id=' + data[0];
		window.location.href=url;
	});
	//删除
	$('#lens-table tbody').on( 'click', 'a#del', function () {
		var data = $('#lens-table').DataTable().row($(this).parents('tr')).data();
		$.post("/admin.php?c=coating&a=del", {id:data[0],status:0},function(result){
			if(result.status == 1){
				layer.msg(result.message, {icon: 2,time: 3000});
				window.location.href=SPOPE.jump_url;
			}else if(result.status == 0){
				layer.msg(result.message, {icon: 1,time: 3000});
				self.location.reload()
			}
		},"JSON");
	});
});
</script>
<include file="Index/footer" />