<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- Page Heading -->
	</br></br></br></br>
	<div class="row">
	  <div class="col-lg-12">
		<ol class="breadcrumb">
		  <li>
			<i class="fa fa-dashboard"></i><a href="/admin.php?c=enter"> 人员管理</a>
		  </li>
		  <li class="active">
			<i class="fa fa-edit"></i> 添加人员信息
		  </li>
		</ol>
	  </div>
	</div>
	<!-- /.row -->
	  <form class="layui-form" method="post" action="">
          <div class="layui-form-item">
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                      <input class="layui-input" name="name"type="text" style="width: 160px;"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">工号</label>
                    <div class="layui-input-block">
                      <input class="layui-input" name="workid" type="text" style="width: 160px;"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
					  <input type="radio" name="sexual" value="1" title="男" checked>
					  <input type="radio" name="sexual" value="2" title="女"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md6">
                    <label class="layui-form-label">身份证</label>
                    <div class="layui-input-block">
                      <input class="layui-input" name="cardid" lay-verify="identity" type="text" style="width: 180px;"></div>
                  </div>
                </td>
			  </div>
			</tr>
            <tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-block"style="width: 160px;">
                      <input class="layui-input" name="mobile" lay-verify="phone" type="text"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md3">
				  <label for="dept" class="layui-form-label">部署</label>
				    <div class="layui-input-block"style="width: 160px;">
                      <select name="dept" lay-verify="required" lay-search="">
                        <option value="">-请选择所属部门-</option>
                        <foreach name="dept" item="vo">
                          <option value="{$vo}">{$vo}</option></foreach>
                      </select>
					</div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md4">
                    <label class="layui-form-label">入社日</label>
                    <div class="layui-input-block" style="width: 160px;"">
                      <input class="layui-input" name="joindate" type="text"></div>
                  </div>
                </td>
			  </div>
			</tr>
			<tr>
              <div class="layui-row">
                <td>
                  <div class="layui-col-md6">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
					  <textarea name="tips" placeholder="请输入内容" class="layui-textarea"></textarea></div>
                  </div>
                </td>
			  </div>
			</tr></br>
		  <div class="layui-form-item">
			<div class="layui-input-block">
			  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		  </div>
		</div>
      </form>  
    </div>
  </div>
</div>
<script>
var SCOPE = {
'jump_url' : '/admin.php?c=users',
}
//lay-form
layui.use(['form','layer'], function(){
  var form = layui.form;
  var url = SCOPE.jump_url;
  //监听提交
  form.on('submit(formDemo)', function(data){
	$.post("admin.php?c=users&a=add",data.field,function(result){;
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			window.location.href=url;
		}
	},"JSON");
	return false;
  });
});
</script>
<include file="Index/footer" />