<include file="Index/header" />
<body>
<div id="wrapper">
  <include file="Index/nav"/>
  <div id="page-wrapper">
    <div class="container-fluid" >
	<!-- Page Heading -->
	</br></br></br></br>
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i><a href="/admin.php?c=users"> 人员管理</a>
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 删除列表
            </li>
          </ol>
        </div>
      </div>
	  <form>
		<table lay-filter="demo" lay-data="{ even:true, size:'sm'}">
		  <thead>
			<tr>
			  <th lay-data="{field:'id', width:70, align:'center', sort:true, fixed: 'left'}">ID</th>
			  <th lay-data="{field:'name', width:80, align:'center', sort:true, fixed: 'left'}">姓名</th>
			  <th lay-data="{field:'workid', width:70, align:'center'}">工号</th>
			  <th lay-data="{field:'sexual', width:70, align:'center'}">性别</th>
			  <th lay-data="{field:'cardid', width:160, align:'center'}">身份证</th>
			  <th lay-data="{field:'mobile', width:120, align:'center'}">手机</th>
			  <th lay-data="{field:'dept', width:80, align:'center', sort:true}">部署</th>
			  <th lay-data="{field:'joindate', width:100, align:'center'}">入社日</th>
			  <th lay-data="{field:'create_user', width:80, align:'center'}">操作者</th>
			  <th lay-data="{field:'create_time', width:160, align:'center'}">创建时间</th>
			  <th lay-data="{field:'update_time', width:160, align:'center'}">更新时间</th>
			  <th lay-data="{field:'tips', width:80, align:'center'}">备注</th>
			  <th lay-data="{width:70, align:'center', toolbar: '#barDemo1', fixed: 'right'}">操作</th>
			</tr>
		  </thead>
		  <tbody>
		    <volist name="users" id="vo">
			  <tr>
				<td>{$vo.id}</td>
				<td>{$vo.name}</td>
				<td><if condition="$vo['workid'] eq NULL">-<else/>{$vo.workid}</if></td>
				<td><if condition="$vo['sexual'] eq 1">男<else/>女</if></td>
				<td><if condition="$vo['cardid'] eq NULL">-<else/>{$vo.cardid}</if></td>
				<td><if condition="$vo['mobile'] eq NULL">-<else/>{$vo.mobile}</if></td>
				<td>{$vo.dept}</td>
				<td><if condition="$vo['joindate'] eq NULL">-<else/>{$vo.joindate|date="Y-m-d",###}</if></td>
				<td>{$vo.create_user}</td>
				<td>{$vo.create_time|date="Y-m-d H:i",###}</td>
				<td><if condition="$vo['update_time'] eq NULL">-<else/>{$vo.update_time|date="Y-m-d H:i",###}</if></td>
				<td><if condition="$vo['tips'] eq NULL">-<else/>{$vo.tips}</if></td>
				<td></td>
			  </tr>
		    </volist>
		  </tbody>
		</table>
	  </form>
    </div>
   </div>
</div>
<script type="text/html" id="barDemo1">
<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="reset">恢复</a>
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  table.init('demo', {
	height: 'full-240'
	,limits: [30,60,90,150,300]
	,limit: 30
	,page: true
  });
//操作动作监听
  table.on('tool(demo)', function(obj){
    var data = obj.data;
	$.post("/admin.php?c=users&a=restatus", data,function(result){
		if(result.status == 1){
			layer.msg(result.message, {icon: 2,time: 3000});
			self.location.reload();
		}else if(result.status == 0){
			layer.msg(result.message, {icon: 1,time: 3000});
			self.location.reload();
		}
	},"JSON");
  });
});
</script>
<include file="Index/footer" />